<div *ngIf="modal_open_view;" class="modal_overlay backtest_modal">
  <div class="modal" style="max-width:700px;">
    <div class="close_modal" (click)="ModalClose()">
      <i class="ion ion-close"></i>
    </div>
    <div class="modal_title">
      <h1>Algorithm Settings</h1>
    </div>
    <div class="modal_body custom_scroll" style="margin-top:20px;">
      <div *ngFor="let setting of settings" class="indicator">
        <h4>{{getKey(setting)[0].toUpperCase()}}</h4>
        <ul>
          <li *ngFor="let param of setting[getKey(setting)]">
            {{getKey(param)[0].toUpperCase()}} &nbsp;:&nbsp; {{param[getKey(param)]}}
          </li>
        </ul>
      </div>
    </div>
    <div class="btn_group">
      <button class="btn red" (click)="ModalClose()">Close</button>
    </div>
  </div>
</div>


<div id="marketplace" class="container-body" [ngStyle]="blurCss">
  <div class="page-title">
    <h1>Algorithm Marketplace</h1>
    <h5>Your Sold Algorithms</h5>
  </div>
  <div class="navbar">
    <a (click)="router.navigateByUrl('/market')">Go Back</a>
  </div>
  <div class="page-body custom_scroll">
    <table>
      <thead>
        <tr>
          <th>Algo Name</th>
          <th>Exchange</th>
          <th>Pair</th>
          <th>View</th>
          <th>Amount</th>
          <th>Total Buy</th>
          <th>Time</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let algo of algos">
          <td>{{algo.name}}</td>
          <td>{{algo.exchange.toUpperCase()}}</td>
          <td>{{algo.pair}}</td>
          <td>
            <button class="btn" (click)="View(algo.settings)">View</button>
          </td>
          <td>{{algo.price_usd}} USD</td>
          <td>{{algo.buy_count}}</td>
          <td>{{algo.time}}</td>
          <td class="delete"><i class="ion ion-trash-a" (click)="Delete(algo.id)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>