<div class="container-body">
    <h2 style="padding:38px;">{{'baltitle'|translate}}</h2>
    <div class="modal_body custom_scroll" *ngIf="balances[0]||balances[1]|| bit_bal[0]" style="width:fit-content;height:300px;">
      <table >
        <thead>
          <tr>
            <th>{{'curr'|translate}}</th>
            <th>{{'bal'|translate}}</th>
            <th>{{'usdval'|translate}}</th>
            <th>{{'perc'|translate}} (%)</th>
            <!-- <th>Enter Desire %</th>
            <th>Difference</th> -->
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <!-- <div *ngIf="exchanges == 'bitshares';then normal "></div> -->
        <div *ngIf="exchanges == 'binance'|| exchanges == 'okex'|| exchanges == 'kucoin' ; then normal else marketmaker"> </div>
<!-- show balance template for binance, Okex and kucoin exchanges -->
        <ng-template #normal>
        <tbody>
          <tr *ngFor="let advice of balances[1];let i=index" >
            <td *ngIf="advice.Balance!=0">{{advice.Currency}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Balance}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Usdval}}</td>
            <!-- <td *ngIf="advice.Balance!=0">{{advice.usdval}}/{{sum}}*100</td> -->
            <td *ngIf="advice.Balance!=0">{{advice.Usdval/sum*100 }}</td>
            <!-- <td *ngIf="advice.Balance!=0">
              <div class="frm_group data1">
                <input type="number" name="desire" class="check_my_funds" [(ngModel)]="advice.Desire" value="{{advice.Desire}}" required="required">
              </div>
            </td>
            <td *ngIf="advice.Balance!=0">
              <div class="frm_group data1">
                <input type="number" name="diff" class="check_my_funds" [(ngModel)]="advice.Difval" value="{{(advice.Usdval/sum*100)-advice.Desire}}" required="required" readonly>
              </div>
            </td> -->
            <!--old comment  -->
            <!-- <td *ngIf="advice.Balance!=0 && ((advice.Usdval/sum*100)-advice.Desire)<0">
              <div class="frm_group data1">
                <input type="button" class="start_trade" value="Buy" (click)="buy(i)" required="required">
              </div>
           </td>
             <td *ngIf="advice.Balance!=0 && ((advice.Usdval/sum*100)-advice.Desire)==0">
               <div class="frm_group data1">
                <input  type="text" class="check_my_funds" value="No Action Req"  required="required" readonly>
             </div>
            </td>
            <td *ngIf="advice.Balance!=0 && ((advice.Usdval/sum*100)-advice.Desire)>0">
              <div class="frm_group data1">
               <input  type="button" class="stop_trade" value="Sell" (click)="sell(i)" required="required">

            </div>
           </td> -->
          </tr>

        </tbody>
        </ng-template>
        <ng-template #marketmaker>
          <div *ngIf="exchanges == 'bitshares'||exchanges == 'deex'||exchanges == 'binance-dex';then bittemp else rest "></div>
          <!-- show balance template for  other exchanges  -->
        <ng-template #rest>
        <tbody>
          <tr *ngFor="let advice of balances[0];let i=index" >
            <td *ngIf="advice.Balance!=0">{{advice.Currency}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Balance}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Usdval}}</td>
            <!-- <td *ngIf="advice.Balance!=0">{{advice.usdval}}/{{sum}}*100</td> -->
            <td *ngIf="advice.Balance!=0">{{advice.Usdval/sum*100}}</td>
            <!-- <td *ngIf="advice.Balance!=0">
              <div class="frm_group data1">
                <input type="number" class="check_my_funds" [(ngModel)]="advice.Desire" value="{{advice.Desire}}" required="required">
              </div>
            </td>
            <td *ngIf="advice.Balance!=0">
              <div class="frm_group data1">
                <input type="number" class="check_my_funds" [(ngModel)]="advice.Difval" value="{{(advice.Usdval/sum*100)-advice.Desire}}" required="required" readonly>
              </div>
            </td> -->
            <!-- old comment -->
            <!-- <td *ngIf="advice.Balance!=0 && ((advice.Usdval/sum*100)-advice.Desire)>0">
              <div class="frm_group data1">
                <input type="button" class="start_trade" value="Buy" (click)="buy(i)" required="required">
              </div>
           </td>
             <td *ngIf="advice.Balance!=0 && ((advice.Usdval/sum*100)-advice.Desire)==0">
               <div class="frm_group data1">
                <input  type="text" class="check_my_funds" value="No Action Req"  required="required" readonly>
             </div>
            </td>
            <td *ngIf="advice.Balance!=0 && ((advice.Usdval/sum*100)-advice.Desire)<0">
              <div class="frm_group data1">
               <input  type="button" class="stop_trade" value="Sell" (click)="sell(i)" required="required">

            </div>
           </td>           -->
          </tr>

        </tbody>
        </ng-template>
        <!-- show balance template for bitshares, deex and binance dex exchanges -->
        <ng-template #bittemp>
        <tbody>
          <tr *ngFor="let advice of bit_bal[0];let i=index" >
            <td *ngIf="advice.Balance!=0">{{advice.Currency}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Balance}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Usdval}}</td>
            <td *ngIf="advice.Balance!=0">{{(advice.Usdval/sum*100).toFixed(10)}}</td>

          </tr>

        </tbody>
        </ng-template>
        </ng-template>
        <!-- <ng-template #bittemp>
        <tbody>
          <tr *ngFor="let advice of bit_bal[0];let i=index" >
            <td *ngIf="advice.Balance!=0">{{advice.Currency}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Balance}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Usdval}}</td>
            <td *ngIf="advice.Balance!=0">{{advice.Usdval/sum*100}}</td>

          </tr>

        </tbody>
        </ng-template> -->
      </table>

    </div>
    <div class="page-body">
      <!-- template to select exchanges to view balance information from wallet -->
      <form id="live">
        <div class="left_side custom_scroll">
          <div class="overlay"></div>
          <div class="frm_group data1">
            <label>{{'exc'|translate}}</label>
            <select name="exchange" (change)="ExchangeChange(exchange.value)" #exchange required="required">
              <option value="" selected disabled>-- {{'selct-one'|translate}} --</option>
              <option value="" *ngIf="exchange_ar.length==0" disabled>-- {{'plzadd'|translate}} --</option>
              <option value="{{exc}}" *ngFor="let exc of exchange_ar">{{exc.toUpperCase()}}</option>
            </select>
          </div>
          <div class="frm_group data1">
            <input type="button" class="start_trade" value="{{'showbal'|translate}}" (click)="balance()" required="required" title="Select Exchange to check funds.">
          </div>
        </div>
        <!-- <div class="middle custom_scroll" *ngIf="balances[0]">
          <div class="overlay"></div>
          <div class="frm_group data1">
          </div>
          <div class="frm_group data1">
            <input type="button" class="start_trade" value="Rebalance" (click)="rebalance()" required="required" style="margin-top: 57px;" title="Adjust Desire Percentages and Rebalance Portfolio.">
          </div>
        </div> -->
        <!-- old comment -->
        <!-- <div class="middle custom_scroll" *ngIf="balances[0]">
          <h2 style="padding:40px;">Enter Desire % for portfilio rebalancing</h2>
          <table *ngIf="balances[0]">
            <thead>
              <tr>
                <th>Currency</th>
                <th>Enter Desire %</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let advice of balances[0]" >
                  <td *ngIf="advice.Balance!=0">{{advice.Currency}}</td>
                  <td *ngIf="advice.Balance!=0"><input type="number" name="percn" (change)="calDiff(advice.Usdval/sum*100,percn)" value="1" min="0" required="required"></td>

                </tr>
                <tr>
                  <td><button type="button" name="button" (click)="balcheck()" >Proceed</button></td>
                </tr>
              </tbody>
            </table>
        </div> -->
      </form>
    </div>

</div>
