<div id="login" class="container">
    <div class="card" id="login1">
      <div class="logo">
        <img src="./assets/img/icn.png" alt="">
      </div>
      <hr>
      <div class="title" id="title1">
        {{ 'signin' | translate }}
      </div>
      <!-- user login form -->
      <form class="login"  action="#" method="post" (submit)="Login(username.value, pass.value)">
        <input type="text" ngModel #username="ngModel" name="username" (change)="reset_pass_ind1()" [ngClass]="{error: (!username.valid && username.touched)|| pass_ind1==1}" placeholder="{{ 'ethplace' | translate }}" value="" minlength="42" maxlength="42" required>
        <span class="error-msg" id="username" *ngIf="(!username.valid && username.touched) || pass_ind1==1">{{ 'ineth' | translate }}</span>
        <input type="password" ngModel #pass="ngModel" name="pass" (change)="reset_pass_ind()" [ngClass]="{error:(!pass.valid && pass.touched ) || pass_ind==1}" placeholder="{{ 'passplace' | translate }}" value="" required>
        <span class="error-msg" id="pass" *ngIf="(!pass.valid && pass.touched ) || pass_ind==1">{{ 'inpass' | translate }}</span>
        <input type="submit" name="login" value="{{ 'signin' | translate }}" [disabled]="!pass.valid || !username.valid || pass_ind==1 || pass_ind1==1" [ngClass]="{disabled : !pass.valid || !username.valid || pass_ind==1 || pass_ind1==1}" title="Sign in with registered Eth address and password.">
      </form>
   </div>
</div>
