.container-body{
    height:100vh;
}
.container-body .page-title{
    flex-direction: column;
}

.page-body{
    background: #fff;
    color: #000;
    width: 600px;
    height: auto !important;
    padding: 35px;
    margin: 40px auto !important;
    box-shadow: 0px 4px 20px 2px var(--blue-2);
    border-radius: 10px;
}
.page-body .amnt-section{
    margin: 30px 0px;
    padding: 20px;
    background: aliceblue;
    border-radius: 6px;
    font-size: 17px;
}
.page-body ul{
    list-style-position: inside;
    font-size: 14px;
}
.page-body .amnt-section .amnt{
    margin-bottom: 20px;
}

.page-body .btn{
    background: #00d600;
    margin-left: 80px;
    display:inline;
    font-size: 18px;
    padding: 20px 40px;
}
.page-body .btn:hover{
    box-shadow: 0px 0px 15px #00d600;
}
.page-body .red{
    background: red;
    margin: 25px;
    display:inline;
    font-size: 18px;
    padding: 20px 40px;
}
.page-body .red:hover{
    box-shadow: 0px 0px 15px red;
}
