<!-- Template for my algorithm -->
<div id="advice" class="container-body" [ngStyle]="blurCss">
  <div class="page-title">
    <h1>{{ 'myalgorithm' | translate }} </h1>
    <!-- <h5>Make more profit</h5> -->
  </div>
  <!-- <div class="navbar">
    <a (click)="router.navigateByUrl('/buying_settings')">Buying</a>
    /
    <a (click)="router.navigateByUrl('/selling_settings')">Selling</a>
  </div> -->
  <div class="page-body custom_scroll">
    <table>
      <thead>
        <tr>
          <th>{{ 'algoname' | translate }}</th>
          <th>{{ 'cat' | translate }}</th>
          <th>{{ 'exc' | translate }}</th>
          <th>{{ 'pair' | translate }}</th>
          <th>{{ 'indi' | translate }}</th>
          <th>{{ 'applybck' | translate }}</th>
          <th>{{ 'applylv' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let algo of trade_dat_db">
          <td>{{algo.algorithm.toUpperCase()}}</td>
          <td>{{algo.cata.toUpperCase()}}</td>
          <td>{{algo.exch.toUpperCase()}}</td>
          <td>{{algo.pair}}</td>
          <td>{{algo.indi | slice:1:-1}}</td>
          <td>
            <button class="btn" (click)="Backtest(algo.dom)">{{ 'menu2' | translate }}</button>
          </td>
          <td>
            <button class="btn" (click)="Live(algo.dom)">{{'live'|translate}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
