<!-- template for save algorithm feature-->
<div *ngIf="modal_open_advice;" class="modal_overlay sell_advice">
  <div class="modal">
    <div class="modal_title">
      <h1>{{'savetitle'|translate}}</h1>
      <h5>{{'savesubtitle'|translate}}</h5>
    </div>
    <div class="modal_body custom_scroll" style="margin-top:10px;">
      <div class="frm_group">
        <label for="s_name">{{'algoname1'|translate}} :</label>
        <input type="text" name="s_name" id="s_name" ngModel #sname placeholder="{{'algonamplace'|translate}}">
      </div>
      <div class="frm_group">
          <label for="category">{{'cat'|translate}}:</label>
          <select name="category" #indint required>
            <option value="" selected disabled>-- {{'selct-one'|translate}}--</option>
            <option value="Bear market">Bear market</option>
            <option value="Bull market ">Bull market </option>
            <option value="Favorites">Favorites</option>
            <option value="1">{{'createcat'|translate}}</option>
          </select>
          <p *ngIf="indint.value==1" style="margin-left:20px;">{{'or'|translate}}</p>
          <input type="text" ngModel #ccat="ngModel" name="ccat" id="ccat" *ngIf="indint.value==1" placeholder="{{'catnamplace'|translate}}" required>
        </div>
      <div class="btn_group">
        <button class="btn green" (click)="savealgo(sname.value,indint.value)">{{'submit'|translate}}</button>
        <button class="btn red" (click)="modal_open_advice = false; checkBlur();">{{'maybenxtym'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- Chart loader template -->
<div class="actual_chart" [ngStyle]="blurCss">
  <div class="chart_preloader">
    <div class="loader">
      <img src="./assets/img/loader.gif" alt="">
    </div>
  </div>
  <div id="chart">

  </div>
</div>
<!-- Main Template of Backtest -->
<div class="container-body" [ngStyle]="blurCss">
  <div class="frm_group data1" style="width: 110px;margin-top: -16px;margin-left: 0px;float: right;">
    <a   href="./assets/tradingview.html?arg={{exchanges}}:{{asset_tv}}{{base_tv}}" target="_blank" >
      <input type="text" class="chart" value="Trading view"   required="required"   readonly>
    </a>
  </div>
  <!-- Template to load reasult like p/l status, start/end balances -->
  <div class="page-title">
    <h1>{{ 'menu2' | translate }}</h1>
    <div class="result">
      <div class="result_preloader">
        <img src="./assets/img/loader.gif" alt="">
      </div>
      <div class="section section_1">
        <div class="item" id="start_bal">
          <b>{{ 'sbalance' | translate }} : </b>
          <span class="amount">-</span>
        </div>
        <div class="item" id="end_bal">
          <b>End Balance : </b>
          <span class="amount">-</span>
        </div>
      </div>
      <div class="section section_2">
        <div class="item" id="profit_loss">
          <b>Profit/Loss : </b>
          <span class="amount">-</span>
        </div>
        <div class="item" id="profit_loss_buy_hold">
          <b>Profit/Loss over buy and hold : </b>
          <span class="amount">-</span>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <form id="backtest">
      <!-- Main content form is divided into three  parts-->
      <div class="left_side custom_scroll">
        <div class="frm_group data1">
          <label>{{ 'exc' | translate }}</label>
          <select name="exchange" (change)="ExchangeChange(exchange.value)" #exchange required="required">
            <option value="" selected disabled>-- {{ 'selct-one' | translate }} --</option>
            <option value="binance">Binance</option>
            <option value="bitfinex">Bitfinex</option>
            <option value="bitstamp">Bitstamp</option>
            <option value="bittrex">Bittrex</option>
            <!-- <option value="coss">Coss</option> -->
            <option value="ethfinex">Ethfinex</option>
            <option value="kraken">Kraken</option>
            <option value="kucoin">Kucoin</option>
            <option value="okex">Okex</option>
            <option value="okex3">Okex_v3</option>
            <!-- <option value="quadrigacx">QuadrigaCX</option> -->
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'pair' | translate }}</label>
          <ngx-select-dropdown name="pair" tabindex="0" [multiple]="false"  (change)="PairChange(exchange.value, pair.value)" [config]="config" [options]="pairs" #pair required="required"></ngx-select-dropdown>


        </div>
        <div class="frm_group data1">
          <label>
            {{ 'ind-interval' | translate }}
          </label>
          <select name="ind_int" #indint (change)="IndIntChange(indint.value, pair.value, exchange.value)" required>
            <option value="1" selected="selected">{{ 'min' | translate }}</option>
            <option value="5">{{ 'min5' | translate }}</option>
            <option value="15">{{ 'min15' | translate }}</option>
            <option value="30">{{ 'min30' | translate }}</option>
            <option value="60">{{ 'hrs' | translate }}</option>
            <option value="120">{{ 'hrs2' | translate }}</option>
            <option value="240">{{ 'hrs4' | translate }}</option>
            <option value="720">{{ 'hrs12' | translate }}</option>
            <option value="1440">{{ 'day' | translate }}</option>
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'stoploss' | translate }}  (%)</label>
          <input type="number" name="stop_loss" value="50" min="0" max="100" required="required">
        </div>
        <div class="frm_group data1">
          <label>{{ 'takeprofit' | translate }}  (%)</label>
          <input type="number" name="take_profit" value="50" min="0" max="100" required="required">
        </div>
        <div class="frm_group data1">
          <label>{{ 'sdate' | translate }}</label>
          <div class="date-grp">
            <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker" placeholder="MM/DD/YYYY" name="startdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>

        </div>
        <div class="frm_group data1">
          <label>{{ 'enddate' | translate }}</label>
          <div class="date-grp">
            <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker2" placeholder="MM/DD/YYYY" name="enddate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="middle custom_scroll">
      <!-- Loading List of indicators alongs with respective dependent parameters-->
        <div *ngFor="let ind of ('indicators'|translate)" class="frm_inner_group {{ind.name}}">
          <div  class="frm_group checkbox_group">
            <div class="toggler" >
              <input type="checkbox" id="{{ind.name}}" name="{{ind.name}}" >
              <label class="toggle" for="{{ind.name}}" ></label>
            </div>
            <label for="{{ind.name}}" >{{ind.disp_name}}</label>
            <a *ngIf="ind.link.length > 0" href="{{ind.link}}" target="_blank" title="Click for more information.">
              <img src="./assets/img/i-icon-1.svg" alt="">
            </a>
            <a *ngIf="ind.link.length <= 0"  title="Information not available.">
              <img src="./assets/img/i-icon-1.svg" alt="">
            </a>
          </div>
          <div class="parameters">
            <div *ngIf="ind.params.length > 0;then params"></div>
          </div>
          <ng-template #params>
            <div *ngFor="let param of ind.params" class="frm_group data1">
              <label>{{param.disp_name}}</label>
              <div *ngIf="ind.name=='psar';then inpt1 else inpt2"></div>
              <ng-template #inpt1>
                <input type="number" name="{{param.name}}" value="{{param.value}}" step="0.001" min="0.001" required>
              </ng-template>
              <ng-template #inpt2>
                <input type="number" name="{{param.name}}" value="{{param.value}}" step="1" required>
              </ng-template>
            </div>
          </ng-template>

        </div>


      </div>
      <div class="right_side custom_scroll">
        <div class="frm_group data1">
          <input type="text" class="check_my_algo1" value="{{'save_my_algo'|translate}}" (click)="modal_open_advice=true;checkBlur();" title="click to save own algorithm with selected information." required="required" disabled style="opacity:0.3;cursor:not-allowed;" readonly>
        </div>
        <div class="frm_group data1">
          <input type="text" class="check_my_algo" value="{{'my_algo'|translate}}" (click)="myalgo()" title="click to view own algorithm information" required="required" readonly>
        </div>
        <div class="frm_group checkbox_group">
          <div class="toggler">
            <input type="checkbox" id="inverser" name="inverser" (change)="InverseToggle()">
            <label class="toggle" for="inverser"></label>
          </div>
          <label for="inverser">{{ 'Inverse-Signal' | translate }}</label>
        </div>
        <div class="frm_group data1">
          <label>{{ 'sbalance' | translate }} ({{asset}}) :
          </label>
          <a title="Starting amount should be at least 0.002 BTC equivalent.">
          <input type="number" name="asset" value="1" min="0" required="required">
          <img src="./assets/img/i-icon-1.svg" alt="">
          </a>
        </div>
        <div class="frm_group data1">
          <label>{{ 'sbalance' | translate }} ({{base}}) :
          </label>
          <a title="Starting amount should be at least 0.002 BTC equivalent.">
          <input type="number" name="base" value="500" min="0" required="required">
          <img src="./assets/img/i-icon-1.svg" alt="">
          </a>
        </div>
        <div class="frm_group data1">
          <label>{{ 'portfolio-percentage' | translate }} (%) ({{base}})</label>
          <input type="number" name="portfolio" value="100" min="0" max="100" required="required">
        </div>
        <div class="frm_group data1">
          <label>{{ 'exchange-fees' | translate }} (%)</label>
          <input type="number" name="fees" value="0.25" min="0" max="100" step="0.0001" required="required">
        </div>
        <div class="frm_group data1">
          <input type="submit" class="back_test" value="{{'start_backtest'|translate}}" min="0" (click)="Backtest()" required="required">
        </div>
        <div class="frm_group data1">
          <input type="button" class="reset_test" value="{{'reset_backtest'|translate}}" min="0" (click)="Resest()" required="required" disabled style="opacity:0.3;cursor:not-allowed;" >
        </div>
      </div>
    </form>
  </div>
</div>
