.modal_overlay{
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    transition: 0.3s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
}
.modal{
    position: fixed;
    z-index: 9999;
    background:rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 115px),-50%);
    transition: 0.3s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
    max-width: 500px;
    max-height: calc(100vh - 138px);
    overflow: hidden;
}
.modal .modal_body{
    margin-top:30px;
    max-height: calc(100vh - 275px);
}
.modal .modal_body .settings{
    display: flex;
    align-items: center;
}
.modal .modal_body .frm_group_{
    display: flex;
    align-items: center;
}
.modal .modal_body .frm_group_:not(:last-child){
    margin-right: 30px;
}
.modal .modal_body .frm_group_ label{
    font-size: 14px;
    cursor: pointer;
}
.modal .modal_body .frm_group_ input[type='radio']{
    margin-right: 10px;
}

.modal form{
    padding: 10px 0px 20px 0px;
    height: 100%;
}
.modal .modal_body .btn_group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.modal .modal_body .btn_group .btn:not(:last-child){
    margin-right: 20px;
}
