<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_ed16d"></div>
  <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text"></span></a></div> -->
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    // var symb;
    function getUrlArg(name) {
    var res = location.search.substr(1).split("&").filter(function (item) {
        return item.indexOf(name + '=') === 0;
    }).pop();

    // console.log("value in url===",res);
    // symb=res;

    return res.substr(res.indexOf('=') + 1);
    // return res ? decodeURIComponent(res.substr(res.indexOf('=') + 1)) : '';
  }
  new TradingView.widget(
  {
    "width": 980,
    "height": 610,
    "symbol":( getUrlArg('arg').endsWith(":"))?"BINANCE:BTCUSDT":getUrlArg('arg'),
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "Light",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_ed16d"
  }
  );

// document.getElementById('container').textContent = getUrlArg('arg');

  </script>
</div>
<!-- TradingView Widget END -->
