<!-- Template to sell Strategies/algorithm -->
<div *ngIf="modal_open_settings;" class="modal_overlay sell_settings">
  <div class="modal">
    <div class="modal_title">
      <h1>Congratulations</h1>
      <h5>You made 10% of profit till here, You are eligible to sell Strategies.</h5>
    </div>
    <div class="modal_body custom_scroll">
      <div class="settings">
        <div class="frm_group_">
          <input type="radio" name="setting_select" id="current" value="current" checked (change)="new_settings = false;sellModeSet($event)">
          <label for="current">Use Current Settings</label>
        </div>
        <div class="frm_group_">
          <input type="radio" name="setting_select" id="new" value="new" (change)="new_settings = true;sellModeSet($event)">
          <label for="new">Select New Settings</label>
        </div>
      </div>
      <div class="indicators_settings" *ngIf="new_settings">
        <div class="top_shadow"></div>
        <form class="custom_scroll">
          <div class="frm_group data1">
            <label>Exchange</label>
            <select name="exchange" (change)="ExchangeChangeModal(exchange1.value)" #exchange1 required="required">
              <option value="binance">Binance</option>
              <option value="ethfinex">Ethfinex</option>
              <option value="bitfinex">Bitfinex</option>
              <option value="kraken">Kraken</option>
              <option value="bittrex">Bittrex</option>
              <option value="bitstamp">Bitstamp</option>
              <!-- <option value="quadrigacx">QuadrigaCX</option> -->
            </select>
          </div>
          <div class="frm_group data1" style="margin-bottom:50px;">
            <label>Pair</label>
            <select name="pair" #pair1 required="required">
              <option *ngFor="let pair of pairs_modal" value="{{pair}}">{{pair.toUpperCase()}}</option>
            </select>
          </div>
          <h3>Select Indicators</h3>
          <br>
          <div *ngFor="let ind of ('indicators'|translate)" class="frm_inner_group {{ind.name}}">
            <div class="frm_group checkbox_group">
              <div class="toggler">
                <input type="checkbox" id="{{ind.name}}" name="{{ind.name}}">
                <label class="toggle" for="{{ind.name}}"></label>
              </div>
              <label for="{{ind.name}}">{{ind.disp_name}}</label>

            </div>
            <div class="parameters">
              <div *ngIf="ind.params.length > 0;then params"></div>
            </div>
            <ng-template #params>
              <div *ngFor="let param of ind.params" class="frm_group data1">
                <label>{{param.disp_name}}</label>
                <div *ngIf="ind.name=='psar';then inpt1 else inpt2"></div>
                <ng-template #inpt1>
                  <input type="number" name="{{param.name}}" value="{{param.value}}" step="0.001" min="0.001" required>
                </ng-template>
                <ng-template #inpt2>
                  <input type="number" name="{{param.name}}" value="{{param.value}}" step="1" required>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </form>
        <div class="bottom_shadow"></div>
      </div>
      <div class="frm_group" style="margin-top:30px;">
        <label for="amount">Set Amount (NIO_USD) :</label>
        <div class="inpt_group">
          <span class="before">$</span>
          <input type="number" name="amount" min="0" ngModel #amount ngInit="amount.value = 5" value="5">
        </div>
      </div>
      <div class="frm_group">
        <label for="s_name">Give it a Name :</label>
        <input type="text" name="s_name" id="s_name" ngModel #sname>
      </div>
      <div class="btn_group">
        <button class="btn green" (click)="sellSettings(amount.value, sname.value)">Sell</button>
        <button class="btn red" (click)="modal_open_settings = false; checkBlur();">Maybe Next Time</button>
      </div>
    </div>
  </div>
</div>
<!-- Template to give advice about profit making Strategies/algorithm  -->
<div *ngIf="modal_open_advice;" class="modal_overlay sell_advice">
  <div class="modal">
    <div class="modal_title">
      <h1>Congratulations</h1>
      <h5>You made 100% of profit till here, You are eligible to give Advice.</h5>
    </div>
    <div class="modal_body custom_scroll" style="margin-top:10px;">
      <h5 style="margin: 30px 0px;">Please give your email or create a separate email to answer questions from advice seekers.</h5>
      <div class="frm_group">
        <label for="amount">Your Fees (NIO_USD) :</label>
        <div class="inpt_group">
          <span class="before">$</span>
          <input type="number" name="amount" min="0" ngModel #amount ngInit="amount.value = 5" value="5">
        </div>
      </div>
      <div class="frm_group">
        <label for="s_name">Your Name :</label>
        <input type="text" name="s_name" id="s_name" ngModel #sname>
      </div>
      <div class="frm_group">
          <label for="email">Your Contact Email :</label>
          <input type="email" name="email" id="email" ngModel #email>
        </div>
      <div class="btn_group">
        <button class="btn green" (click)="sellAdvice(amount.value, sname.value, email.value)">submit</button>
        <button class="btn red" (click)="modal_open_advice = false; checkBlur();">Maybe Next Time</button>
      </div>
    </div>
  </div>
</div>
<!-- Template to give advice about profit making Strategies/algorithm  -->
<div *ngIf="modal_open_advice_manual;" class="modal_overlay sell_advice">
  <div class="modal">
    <div class="modal_title">
      <div class="frm_group data1">
        <input type="text" name="" value="{{pair_s}}"  required="required" readonly>
      </div>
      <div class="frm_group ">
        <label for="asset_val">Available {{asset_tv}}</label>
        <input type="text" name="asset_val" id="asset_val" value="{{end_maker_bal_asset}}" ngModel #asset_val placeholder="" readonly>
      </div>
      <div class="frm_group">
        <label for="base_val">Available {{base_tv}}</label>
        <input type="text" name="base_val" id="base_val" value="{{end_maker_bal_base}}" ngModel #base_val placeholder="" readonly>
      </div>
      <h5></h5>
    </div>
    <div class="btn_group" style="margin-top: 20px;">
      <button class="btn green" (click)="manual_buy=true;manual_sell=false;" style="width: 50%;">BUY</button>
      <button class="btn red" (click)="manual_sell=true;manual_buy=false;"style="width: 48%;">SELL</button>
    </div>
    <div class="btn_group" style="margin-top: 20px;">
      <input type="text" name="" value="Limit" (click)="limit_selected=true;market_selected=false;" style="background: #000000;color: white;text-align: center;border: 2px solid transparent;cursor: pointer;" required="required" readonly>
      <input type="text" name="" value="Market" (click)="market_selected=true;limit_selected=false;" style="background: #000000;color: white;text-align: center;border: 2px solid transparent;cursor: pointer;" required="required" readonly>
    </div>
    <div class="frm_group ">
      <label for="price_val">Price {{base_tv}}</label>
      <input type="number" name="price_val" min="0"  ngModel #price_val ngInit="price_val.value = 0" value="0">
    </div>
    <div class="frm_group">
      <label for="amount_val">Amount {{asset_tv}}</label>
      <input type="number" name="amount_val"   min="0" ngModel #amount_val ngInit="amount_val.value = 1" value="1">
    </div>
    <div *ngIf="manual_buy == true; then buy"> </div>
    <ng-template #buy>
    <div class="modal_body custom_scroll" style="margin-top:10px;">
      <div class="btn_group">
        <button class="btn green" (click)="manualBuy();">BUY {{asset_tv}}</button>

        <button class="btn red" (click)="modal_open_advice_manual = false; checkBlur();limit_selected=false;market_selected=false;">{{'maybenxtym'|translate}}</button>
      </div>
    </div>
    </ng-template>
    <div *ngIf="manual_sell == true; then sell"> </div>
    <ng-template #sell>
    <div class="modal_body custom_scroll" style="margin-top:10px;">
      <div class="btn_group">
        <button class="btn red" (click)="manualSell();">SELL {{asset_tv}}</button>

        <button class="btn red" (click)="modal_open_advice_manual = false; checkBlur();limit_selected=false;market_selected=false;">{{'maybenxtym'|translate}}</button>
      </div>
    </div>
    </ng-template>
  </div>
</div>

<!-- chart loader template -->
<div class="actual_chart" [ngStyle]="blurCss">
  <div class="chart_preloader">
    <div class="loader">
      <img src="./assets/img/loader.gif" alt="">
    </div>
  </div>
  <div id="chart">
  </div>
</div>
<!-- Main Template of Live Trading -->
<div class="container-body" [ngStyle]="blurCss">
  <div class="frm_group data1" style="width: 110px;margin-top: -16px;margin-left: 0px;float: right;">
    <a   href="./assets/tradingview.html?arg={{exchanges_tv}}:{{asset_tv}}{{base_tv}}" target="_blank" >
      <input type="text" class="chart" value="Trading view"   required="required"   readonly>
    </a>
  </div>
  <!-- Template to load reasult like p/l status, start/end balances -->
  <div class="page-title">
    <h1 *ngIf="botType == 'normal'">{{ 'menu1' | translate }}</h1>
    <h1 *ngIf="botType == 'marketmaker'">{{ 'mmaker' | translate }}</h1>
    <div class="result" *ngIf="botType == 'normal'">
      <div class="result_preloader">
        <img src="./assets/img/loader.gif" alt="">
      </div>
      <div class="section section_1">
        <div class="item" id="start_bal">
          <b>Start Balance : </b>
          <span class="amount">{{start_bal}} {{base_c}}</span>
        </div>
        <div class="item" id="end_bal">
          <b>End Balance : </b>
          <span class="amount">{{end_bal}} {{base_c}}</span>
        </div>
      </div>
      <div class="section section_2">
        <div class="item" id="profit_loss">
          <b>Profit/Loss : </b>
          <span class="amount red" [ngClass]="{green : profit_loss >= 0}">{{profit_loss}} {{base_c}}({{profit_loss_perc}}%)</span>
          <!-- <img alt=""> -->
        </div>
        <div class="item" id="profit_loss_buy_hold">
          <b>Profit/Loss over buy and hold : </b>
          <span class="amount red" [ngClass]="{green : profit_loss_buy_hold >= 0}">{{profit_loss_buy_hold}} {{base_c}} ({{profit_loss_buy_hold_perc}}%)</span>
          <!-- <img alt=""> -->
        </div>
      </div>
    </div>
    <div class="result" *ngIf="botType == 'marketmaker'">
      <div class="result_preloader">
        <img src="./assets/img/loader.gif" alt="">
      </div>
      <div class="section section_1">
        <div class="item" id="start_bal">
          <b>Start Balance : </b>
          <span class="amount">{{start_maker_bal}} USD</span>
        </div>
        <div class="item" id="end_bal">
          <b>End Balance : </b>
          <span class="amount">{{end_maker_bal}} USD</span>
        </div>
      </div>
      <div class="section section_2">
        <div class="item" id="profit_loss">
          <b>Profit/Loss : </b>
          <span class="amount red" [ngClass]="{green : maker_profit_loss >= 0}">{{maker_profit_loss}} USD ({{maker_profit_loss_perc}}%)</span>
          <!-- <img alt=""> -->
        </div>
        <!-- FOR  beta release -->
        <!-- <div class="item" id="profit_loss_buy_hold">
          <b>Profit/Loss over buy and hold : </b>
          <span class="amount red" [ngClass]="{green : maker_profit_loss_buy_hold >= 0}">{{maker_profit_loss_buy_hold}} {{base}}</span>
        </div> -->
      </div>
    </div>

  </div>

  <div *ngIf="botType == 'normal'; then normal else marketmaker"></div>
  <!-- Template to run normal bot  -->
<ng-template #normal>
  <div class="page-body">
    <form id="live">
      <div class="left_side custom_scroll">
        <div class="overlay"></div>
        <div class="frm_group data1">
          <label >{{ 'bot-type' | translate }}</label>
          <select [(ngModel)]="botType" (change)="BotTypeChange(); pairs_selected=false;" name="botType"required="required">
            <option value="normal" selected>{{ 'normal' | translate }}</option>
            <option value="marketmaker">{{ 'mmaker-bot' | translate }}</option>
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'exc' | translate }}</label>
          <select name="exchange" (change)="ExchangeChange(exchange.value)" [(ngModel)]="exc_s" #exchange required="required">
            <option value="" selected disabled>-- {{ 'selct-one' | translate }} --</option>
            <option value="" *ngIf="exchange_mm.length==0" disabled>-- {{'plzadd'|translate}} --</option>
            <option  *ngFor="let exc of exchange_mm" value="{{exc}}">{{UcFirst(exc)}}</option>
          </select>

        </div>
        <div class="frm_group data1">
          <label>{{ 'pair' | translate }}</label>
          <ngx-select-dropdown name="pair" tabindex="0" [multiple]="false"  (change)="PairChange(exchange.value, pair.value)" [config]="config" [options]="pairs" #pair required="required"></ngx-select-dropdown>
        </div>
        <!-- for manual trade -->
        <!-- <div *ngIf="pairs_selected==true;then manual_trade" ></div> -->
        <!-- <ng-template #manual_trade>
        <div class="frm_group data1" >
          <input type="text" name="manual_trade" value="Manual Trade" (click)="modal_open_advice_manual= true ;checkBalanceAtEnd(); checkBlur(); " title="" required="required" readonly>
        </div>
        </ng-template> -->
        <div class="frm_group data1">
          <label>
              {{ 'ind-interval' | translate }}
          </label>
          <select name="ind_int" required>
            <option value="1" selected="selected">{{ 'min' | translate }}</option>
            <option value="5">{{ 'min5' | translate }}</option>
            <option value="15">{{ 'min15' | translate }}</option>
            <option value="30">{{ 'min30' | translate }}</option>
            <option value="60">{{ 'hrs' | translate }}</option>
            <option value="120">{{ 'hrs2' | translate }}</option>
            <option value="240">{{ 'hrs4' | translate }}</option>
            <option value="720">{{ 'hrs12' | translate }}</option>
            <option value="1440">{{ 'day' | translate }}</option>
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'stoploss' | translate }}  (%)</label>
          <input type="number" name="stop_loss" value="50" min="0" max="100" required="required">
        </div>
        <div class="frm_group data1">
          <label>{{ 'takeprofit' | translate }}  (%)</label>
          <input type="number" name="take_profit" value="50" min="0" max="100" required="required">
        </div>
        <div class="frm_group data1">
          <label>{{ 'portfolio-percentage' | translate }} (%) ({{base}})</label>
          <input type="number" name="portfolio" value="100" min="0" max="100" required="required">
        </div>
        <div class="frm_group data1">
          <label>{{ 'exchange-fees' | translate }} (%)</label>
          <input type="number" name="fees" value="0.25" min="0" max="100" step="0.0001" required="required">
        </div>
      </div>
      <div class="middle custom_scroll">
        <!-- template to display status of live trading -->
        <div *ngIf="show_stats==true;then stats"></div>
        <ng-template #stats>
          <div class="live-stats">
            <div class="title">
              {{ 'livstats' | translate }}
            </div>
            <table>
              <thead>
                <tr>
                  <th>{{ 'signal' | translate }}</th>
                  <th>{{ 'amt' | translate }}</th>
                  <th>{{ 'cp' | translate }}</th>
                  <th>Order Status</th>
                  <th>{{ 'time' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stat of stat_ar" [ngClass]="{buy: stat.signal == 'BUY' ,sell: stat.signal=='SELL'}" class="buy">
                  <td>{{stat.signal}}</td>
                  <td>{{stat.amount}}</td>
                  <td>{{stat.bid}}</td>
                  <td>{{stat.sts}}</td>
                  <td>{{stat.time}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>

        <!-- template to load indicators -->
        <div *ngFor="let ind of ('indicators'|translate)" class="frm_inner_group {{ind.name}}">
          <div class="frm_group checkbox_group">
            <div class="toggler">
              <input type="checkbox" id="{{ind.name}}" name="{{ind.name}}">
              <label class="toggle" for="{{ind.name}}"></label>
            </div>
            <label for="{{ind.name}}">{{ind.disp_name}}</label>
            <a *ngIf="ind.link.length > 0" href="{{ind.link}}" target="_blank" title="Click for more information.">
              <img src="./assets/img/i-icon-1.svg" alt="">
            </a>
            <a *ngIf="ind.link.length <= 0"  title="Information not available.">
              <img src="./assets/img/i-icon-1.svg" alt="">
            </a>
          </div>
          <div class="parameters">
            <div *ngIf="ind.params.length > 0;then params"></div>
          </div>
          <ng-template #params>
            <div *ngFor="let param of ind.params" class="frm_group data1">
              <label>{{param.disp_name}}</label>
              <div *ngIf="ind.name=='psar';then inpt1 else inpt2"></div>
              <ng-template #inpt1>
                <input type="number" name="{{param.name}}" value="{{param.value}}" step="0.001" min="0.001" required>
              </ng-template>
              <ng-template #inpt2>
                <input type="number" name="{{param.name}}" value="{{param.value}}" step="1" min="0" required>
              </ng-template>
            </div>
          </ng-template>

        </div>

      </div>
      <div class="right_side custom_scroll">
        <div class="frm_group data1">
          <input type="text" class="check_my_algo" value="{{'my_algo'|translate}}" (click)="myalgo()" title="click to view own algorithm information" required="required" readonly>
        </div>
        <div class="frm_group data1">
          <input type="text" class="check_my_funds" value="{{'checkbal'|translate}}" (click)="portfolio()" title="click to know wallet information" required="required" readonly>
        </div>
        <div class="frm_group checkbox_group">
          <div class="toggler">
            <input type="checkbox" id="inverser" name="inverser" (change)="InverseToggle()">
            <label class="toggle" for="inverser"></label>
          </div>
          <label for="inverser">{{ 'Inverse-Signal' | translate }}</label>
        </div>
        <div class="frm_group data1">
          <label>
            {{'livemode'|translate}}
          </label>
          <!-- Option to run live trading on demo balance or actual balance -->
          <select name="live_mode" required>
            <option value="test" selected="selected">{{'demobal'|translate}}</option>
            <option value="live">{{'live'|translate}}</option>
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'sbalance' | translate }} ({{asset}}) :
          </label>
          <a title="Starting amount should be at least 0.002 BTC equivalent.">
          <input type="number" name="asset" value="1" min="0" required="required">
          <img src="./assets/img/i-icon-1.svg" alt="">
          </a>
        </div>
        <div class="frm_group data1">
          <label>{{ 'sbalance' | translate }}  ({{base}}) :
          </label>
          <a title="Starting amount should be at least 0.002 BTC equivalent.">
          <input type="number" name="base" value="500" min="0" required="required">
          <img src="./assets/img/i-icon-1.svg" alt="">
          </a>
        </div>
        <div class="frm_group data1 checkbox_special">
          <input type="checkbox" id="stats" name="stats" (change)="StatToggle()">
          <label for="stats">{{ 'showstat' | translate }}</label>
        </div>
        <div class="frm_group data1">
          <input type="submit" class="start_trade" value="{{'start'|translate}}" min="0" (click)="Live()" required="required">
        </div>
        <div class="frm_group data1">
          <input type="button" class="stop_trade" (click)="StopTrade()" value="{{'stop'|translate}}" min="0" required="required" disabled style="opacity:0.3;cursor:not-allowed;">
        </div>
        <!-- for testing orders -->
        <!-- <div class="frm_group data1">
          <label>Price : </label>
          <input type="number" name="price" value="0.1" min="0" required="required">
        </div>
        <div class="frm_group data1">
          <label>Order Amount:</label>
          <input type="number" name="amount" value="0.001" min="0" required="required">
        </div>
        <div class="frm_group data1">
          <input type="button" class="stop_trade" (click)="sellOder()" value="sell" required="required">
        </div>
        <div class="frm_group data1">
          <input type="button" class="start_trade" value="Buy" (click)="buyOrder()" required="required">
        </div> -->

      </div>
    </form>
  </div>
  </ng-template>
<!-- Template to run market maker bot -->
  <ng-template #marketmaker>
   <div class="page-body">
    <form id="marketmaker">
      <div class="left_side custom_scroll">
        <div class="overlay"></div>
        <div class="frm_group data1">
          <label >{{ 'bot-type' | translate }}</label>
          <select [(ngModel)]="botType" (change)="BotTypeChange();pairs_selected=false;" name="botType"required="required">
            <option value="normal" >{{ 'normal' | translate }}</option>
            <option value="marketmaker" selected>{{ 'mmaker-bot' | translate }}</option>
          </select>
        </div>
        <!-- select market maker Strategies template -->
        <div class="frm_group data1">
          <label>{{ 'mainset' | translate }}</label>
          <select name="mainbot" [(ngModel)]="main_s_bot" #mainbot required="required">
            <option value="" selected disabled>-- Select One --</option>
            <option *ngFor="let option of bot_options" value="{{option.s_name}}">{{option.name}}</option>
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'exc' | translate }}</label>
          <select name="exchange" (change)="ExchangeChange(exchange.value)" [(ngModel)]="exc_s" #exchange required="required">
            <option value="" selected disabled>-- Select One --</option>
            <option value="" *ngIf="exchange_mm.length==0" disabled>-- Please ADD Api Keys --</option>
            <option value="{{exc}}" *ngFor="let exc of exchange_mm">{{UcFirst(exc)}}</option>
          </select>
        </div>
        <div class="frm_group data1">
          <label>{{ 'pair' | translate }}</label>
          <ngx-select-dropdown name="pair" tabindex="0" [multiple]="false"  (change)="PairChange(exchange.value, pair.value)" [config]="config" [options]="pairs" #pair required="required"></ngx-select-dropdown>

          <!-- <select name="pair" (change)="PairChange(exchange.value, pair.value)" [(ngModel)]="pair_s" #pair required="required">
            <option value="" disabled selected>-- Select One --</option>
            <option *ngFor="let pair of pairs" value="{{pair}}">{{pair.toUpperCase()}}</option>
          </select> -->
        </div>
        <div class="frm_group data1">
          <label>{{ 'sspread' | translate }}</label>
          <select [(ngModel)]="select_spread"  name="sel_spread" #sel_spread [ngModelOptions]="{standalone: true}" >
            <option value="s" selected>{{ 'nspread' | translate }}</option>
            <option value="s_s">{{ 'saspread' | translate }}</option>
          </select>
        </div>
        <div class="frm_group data1" *ngIf="select_spread=='s'" >
          <label>{{ 'spread' | translate }} </label>
          <input type="number" [(ngModel)]="spread_s" name="spread" #spread value="4" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="frm_group data1" *ngIf="select_spread=='s_s'" >
          <label>{{ 'saspread' | translate }}</label>
          <input type="number" [(ngModel)]="spread_s" name="spread" #spread value="4" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="frm_group data1">
          <label>{{ 'refresh' | translate }}</label>
          <input type="number" [(ngModel)]="refresh_s" name="refresh" #refresh value="30" min="10" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="middle custom_scroll">
      <div class="live-stats" *ngIf="market_stat_msg.length > 0">
        <div class="title">
            {{ 'livstats' | translate }}
        </div>
        <table>
          <thead>
            <tr>
              <th>{{ 'signal' | translate }}</th>
              <th>{{ 'amt' | translate }}</th>
              <th>{{ 'cp' | translate }}</th>
              <th>{{ 'time' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stat of market_stat_msg" [ngClass]="{buy: stat.signal == 'BUY' ,sell: stat.signal=='SELL'}" class="buy">
              <td>{{stat.signal}}</td>
              <td>{{stat.amount}}</td>
              <td>{{stat.bid}}</td>
              <td>{{stat.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngFor="let msg of order_stat_msg" class="frm_inner_group {{msg.class}} ">
        <div class="frm_group {{msg.class}}" *ngIf="order_stat_msg.length > 0">
          <p data-delay="10000">{{msg.txt}} - {{msg.time}}</p>
          </div>
        </div>
      </div>
      <div class="right_side custom_scroll">
        <div class="frm_group data1">
          <label>{{ 'amountportfolio' | translate }}</label>
          <select [(ngModel)]="select_portfolio_type" name="portfolio_type" #select_portfolio [ngModelOptions]="{standalone: true}">
            <option value="normal" selected>{{ 'normal' | translate }}</option>
            <option value="random">{{ 'random' | translate }}</option>
          </select>
        </div>
        <div class="frm_group data1" *ngIf="select_portfolio_type=='normal'" >
          <input type="number" [(ngModel)]="portfolio_mm_s" name="portfolio_val" #portfolio value="50" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="frm_group data1" *ngIf="select_portfolio_type=='random'" >
          <input type="number" [(ngModel)]="portfolio_mm_s_from" name="portfolio_mm_s_from" #portfolio_mm_s value="10" [ngModelOptions]="{standalone: true}">
          <input type="number" [(ngModel)]="portfolio_mm_s_to"  name="portfolio_mm_s_to" #portfolio_mm value="40" [ngModelOptions]="{standalone: true}">
        </div>
      <div class="frm_group data1">
        <input type="button" class="start_trade" (click)="MarketMaker()" value="{{ 'start' | translate }}" min="0" required="required">
      </div>
      <div class="frm_group data1">
      <input type="button" class="stp_trade" (click)="StopMarketMaker()" value="{{ 'stop' | translate }}" required="required"  disabled style="opacity:0.3;cursor:not-allowed;">
      </div>

      </div>

    </form>
    </div>
    </ng-template>
</div>
